authtoken: 2N8hFNiucpBa3nAxXI9Xpwuws92_24YuZvQhphYYU5E8PRUQA
region: eu
version: 2
tunnels:
  livestatus:
    addr: checkmk:6557
    proto: tcp
    metadata: "old_value"
  monitoringgui:
    addr: checkmk:5000
    proto: http
    metadata: "old_value"
  guacd:
    proto: tcp
    addr: guacd:4822
    metadata: "old_value"

